@font-face {
    font-family: Daikon;
    src: url(https://mist-next.vercel.app/_next/static/media/Daikon-Regular.ba81ac23.otf) format("opentype");
    font-display: swap
}

.form-wrapper {
    max-width: 500px;
    border: 2px solid black;
    margin: 0 auto;
    font-family: Daikon;
    padding: 30px 20px;
}

.main-form {
    padding: 10px;
}

.main-form input,
.main-form textarea {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    font-size: 16px;
    font-family: Daikon;
}

.main-form input[type="checkbox"] {
    width: auto;
}

.main-form label {
    font-size: 12px;
}

.form-error {
    color: red;
    font-size: 12px;
}

.form-header {
    text-align: center;
}

.form-header img {
    -webkit-user-drag: none;
}